@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);
* {
  font-family: "Lexend", sans-serif;
}

#hamburger {
  height: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#hamburger > #tomato, #hamburger > #steak, #hamburger > #cheese {
  width: 3rem;
  height: 5px;
  z-index: 1;
  display: block;
  background-color: white;
  transform-origin: center;
}
#hamburger #cheese {
  transition: all 0.25s ease-in-out 0.2s;
}
#hamburger:hover {
  cursor: pointer;
}
#hamburger #menu-bg {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
}

ul {
  height: 60vh;
  position: absolute;
  z-index: 1;
  top: 15vh;
  left: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.25s ease-in-out 0.2s;
}
ul > li {
  display: flex;
  justify-content: center;
}
ul > li .menu-item {
  color: #526C67;
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
}
ul > li .menu-item:hover {
  color: #8FE9B9;
}

@keyframes tomato {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(0deg) translateY(15px);
    background-color: white;
  }
  100% {
    transform: rotate(45deg) translate(10px, 11px);
    background-color: #526C67;
  }
}
@keyframes tomatoBack {
  0% {
    transform: rotate(45deg) translate(10px, 11px);
    background-color: #526C67;
  }
  50% {
    transform: rotate(0deg) translateY(15px);
    background-color: white;
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
@keyframes steak {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(0deg) translateY(-15px);
    background-color: white;
  }
  100% {
    transform: rotate(-45deg) translate(10px, -11px);
    background-color: #526C67;
  }
}
@keyframes steakBack {
  0% {
    transform: rotate(-45deg) translate(10px, -11px);
    background-color: #526C67;
  }
  50% {
    transform: rotate(0deg) translateY(-15px);
    background-color: white;
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
@keyframes menuBg {
  0% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8FE9B9;
  }
  100% {
    width: 100vw;
    height: 100vw;
    top: 50%;
    left: -22vw;
    transform: translate(-50%, -50%);
    background-color: #CAF6DF;
  }
}
@keyframes menuBgBack {
  0% {
    width: 100vw;
    height: 100vw;
    top: 50%;
    left: -22vw;
    transform: translate(-50%, -50%);
    background-color: #CAF6DF;
  }
  100% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8FE9B9;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  height: 90px;
  background: linear-gradient(95deg, #8FE9B9 0%, #64ceb4 85%);
}
header nav .title {
  z-index: 10;
}
header nav .title > span {
  color: white;
  font-size: 3rem;
}
header nav .title #vps {
  transition: all 0.25s ease-in-out 0.2s;
}

footer p {
  color: #52BEA8;
}

html {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
}

/*# sourceMappingURL=output.css.map */
