@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@font-face {
  font-family: "Iquost";
  src: url("/res/fonts/iquost.otf");
}
* {
  font-family: "Lexend", sans-serif;
}

.font-alt {
  font-feature-settings: "salt" 1;
}

.main-title {
  font-size: 6rem;
  font-family: "Iquost";
  margin-bottom: 1rem;
  color: #FFFDF7;
}
@media screen and (min-width: 1024px) {
  .main-title {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-title {
    font-size: 10rem;
  }
}
@media screen and (min-width: 1536px) {
  .main-title {
    font-size: 12rem;
  }
}
.main-title > span {
  font-family: "Iquost";
}

.h2 {
  font-size: 3.5rem;
  font-family: "Iquost";
  color: #FFFDF7;
  line-height: 1.2;
}
.h2 span {
  font-family: "Iquost";
  font-feature-settings: "salt" 1;
}

.h3 {
  font-size: 3.25rem;
  font-family: "Iquost";
  color: #FFFDF7;
  line-height: 1.2;
}
.h3 span {
  font-family: "Iquost";
  font-feature-settings: "salt" 1;
}

.underline-wave {
  text-decoration: none;
  position: relative;
}
.underline-wave::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background: url("/res/pictos/wave.svg") repeat-x;
  background-size: 12.5px;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

header {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #FFFDF7;
}
@media screen and (min-width: 768px) {
  header {
    height: 90px;
  }
}
@media screen and (min-width: 768px) {
  header {
    background-color: none;
  }
}
header .desk {
  height: 100%;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  header .desk {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  header .desk {
    justify-content: end;
  }
}
header .desk a {
  height: min-content;
  margin: 0 2rem;
  color: white;
  letter-spacing: 0.5px;
  font-size: 1.15rem;
  transition: all 0.3s ease;
}
header .desk a::after {
  transition: all 0.3s ease;
}
header .desk a:hover {
  transform: translateY(-5px);
}
header .desk a:hover::after {
  transform: translateY(5px);
  background-position: 30px 0;
}
header .mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  header .mobile {
    display: none;
  }
}
header .mobile a {
  margin: 5vh 0;
  color: #4E485F;
  letter-spacing: 0.5px;
  font-size: 1.15rem;
  transition: all 0.3s ease;
}

footer p {
  color: #4E485F;
}

body {
  overflow-x: hidden;
  background-color: #FFFDF7;
}

.container {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

#top {
  height: 100vh;
  position: relative;
}
#top > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
#top > .container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: end;
}
#top > .container > div {
  width: 100%;
  height: 100%;
  position: relative;
}
#top > .container > div > img {
  width: 70%;
  position: absolute;
  top: -25%;
  right: -12.5%;
}
#top .filters {
  height: 100%;
  padding-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(150px);
}
@media screen and (min-width: 1280px) {
  #top .filters {
    padding-bottom: 5rem;
  }
}
#top .filters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/res/images/grain.png");
  background-size: 360px 202.5px;
}
#top .filters .container .main-title {
  width: 100%;
  padding: 0 3rem;
  line-height: 1.25;
}
@media screen and (min-width: 1024px) {
  #top .filters .container .main-title {
    line-height: 1.8;
  }
}
@media screen and (min-width: 1280px) {
  #top .filters .container .main-title {
    line-height: 1.4;
  }
}
@media screen and (min-width: 1536px) {
  #top .filters .container .main-title {
    line-height: 1.15;
  }
}
#top .filters .container .main-title .top {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}
@media screen and (min-width: 1024px) {
  #top .filters .container .main-title .top {
    margin-right: auto;
    margin-left: 0;
  }
}
#top .filters .container .main-title .top::after {
  content: "_";
  position: absolute;
  right: -3.5rem;
  transform: scaleX(150%);
}
@media screen and (min-width: 1024px) {
  #top .filters .container .main-title .top::after {
    right: -4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .filters .container .main-title .top::after {
    right: -6rem;
  }
}
#top .filters .container .main-title .bot {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
@media screen and (min-width: 1024px) {
  #top .filters .container .main-title .bot {
    margin-right: 0;
    margin-left: auto;
  }
}
#top .filters .container .main-title .bot .star_svg {
  display: none;
}
@media screen and (min-width: 1024px) {
  #top .filters .container .main-title .bot .star_svg {
    display: block;
    margin-right: 1rem;
    transform: scale(0.7);
  }
}
@media screen and (min-width: 1280px) {
  #top .filters .container .main-title .bot .star_svg {
    margin-right: 4rem;
    transform: scale(0.8);
  }
}
@media screen and (min-width: 1536px) {
  #top .filters .container .main-title .bot .star_svg {
    transform: scale(0.9);
    margin-right: 6rem;
  }
}
#top .filters .container > a {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
}
#top .filters .container > a > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
#top .filters .container > a > div .star_borders_svg {
  width: 75%;
  height: 75%;
  animation: star_spin 30s linear infinite;
  transition: all 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.1s;
}
#top .filters .container > a > div .arrow_down_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.85);
  transition: all 0.3s ease;
}
#top .filters .container > a:hover > div .star_borders_svg {
  width: 120%;
  height: 120%;
}
#top .filters .container > a:hover > div .arrow_down_svg {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes star_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#competences .container {
  height: 100vh;
}
#competences .container .text {
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4E485F;
}
#competences .container .text .h2 {
  margin-bottom: 2rem;
  color: #4E485F;
}
#competences .container .illustration {
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#realisations .title-container {
  display: flex;
  justify-content: center;
}
#realisations .title-container .h2 {
  margin: 0 2.5rem;
  color: #4E485F;
}
#realisations .title-container .waves {
  display: flex;
  align-items: center;
}
#realisations .title-container .waves .wave_extended_svg {
  width: 100px;
}
#realisations .title-container .waves:nth-child(3) {
  transform: scaleX(-1);
}
#realisations .container {
  padding: 2rem;
  margin-bottom: 2.5rem;
}
#realisations .container._borders {
  border: 10px solid #4E485F;
  border-radius: 4rem;
}
#realisations .container._realisations {
  height: 70vh;
  display: flex;
  align-items: center;
}
#realisations .container._realisations .realisation {
  height: 100%;
  border-radius: 2rem;
  position: relative;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
#realisations .container._realisations .realisation .innerwav {
  height: 100%;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
#realisations .container._realisations .realisation .innerwav:hover {
  opacity: 0;
}
#realisations .container._realisations .realisation .innerwav-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 2rem;
}
#realisations .container._realisations > .multiple-imgs {
  display: flex;
  align-items: center;
}
#realisations .container._realisations > .multiple-imgs .line {
  width: 5px;
  height: 60px;
  margin: 0 1rem;
  background-color: #4E485F;
  border-radius: 9999px;
}
#realisations .container._realisations > .multiple-imgs > img {
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
#realisations .container._realisations > .multiple-imgs._borders {
  border: 10px solid #4E485F;
  padding: 1rem;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
#realisations .container._realisations .star_little_svg {
  width: 50px;
  margin: 0 1.5rem;
  animation: star_spin 10s linear infinite;
}
#realisations .container._realisations .description {
  height: 100%;
  position: relative;
  flex-grow: 1;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
#realisations .container._realisations .description._innerwav {
  background-image: url("/res/images/bg_innerwav.svg");
  background-size: cover;
  border-radius: 2rem;
}
#realisations .container._realisations .description._la-renaissance {
  background-image: url("/res/images/bg_la_renaissance.svg");
  background-size: cover;
  border-radius: 2rem;
}
#realisations .container._realisations .description._initial-expertise {
  background-image: url("/res/images/bg_initial_expertise.svg");
  background-size: cover;
  border-radius: 2rem;
}
#realisations .container._realisations .description._zetruc {
  background-image: url("/res/images/bg_zetruc.svg");
  background-size: cover;
  border-radius: 2rem;
}
#realisations .container._realisations .description::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/res/images/grain.png");
  background-size: 180px 101.25px;
  backdrop-filter: blur(75px);
  border-radius: 2rem;
}
#realisations .container._realisations .description .content {
  width: 100%;
  height: 100%;
  padding: 4rem;
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#realisations .container._realisations .description .content .h3 {
  color: #FFFDF7;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
#realisations .container._realisations .description .content p {
  color: #FFFDF7;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#qui-suis-je {
  height: 100vh;
}
#qui-suis-je .content {
  padding-right: 4rem;
}
#qui-suis-je .content .h2 {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  color: #4E485F;
}
#qui-suis-je .content .h2 > .wave_little_svg {
  width: 70px;
  margin-right: 1rem;
}
#qui-suis-je .content p {
  color: #4E485F;
}
#qui-suis-je .image {
  padding-left: 4rem;
  position: relative;
}
#qui-suis-je .image .star_svg {
  position: absolute;
  top: -5rem;
  right: -3rem;
  transform: scale(0.75);
}
#qui-suis-je .image .star_svg path {
  fill: #4E485F;
}
#qui-suis-je .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #fffaea solid 15px;
  border-radius: 4rem;
}

/*# sourceMappingURL=output.css.map */
