@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@font-face {
  font-family: "Iquost";
  src: url("/res/fonts/iquost.otf");
}
* {
  font-family: "Lexend", sans-serif;
}

.font-alt {
  font-feature-settings: "salt" 1;
}

.main-title {
  font-size: 12rem;
  font-family: "Iquost";
  margin-bottom: 1rem;
  color: #FFFDF7;
}
.main-title > span {
  font-family: "Iquost";
}

.h2 {
  font-size: 3.5rem;
  font-family: "Iquost";
  color: #FFFDF7;
  line-height: 1.2;
}
.h2 span {
  font-family: "Iquost";
  font-feature-settings: "salt" 1;
}

.h3 {
  font-size: 3.25rem;
  font-family: "Iquost";
  color: #FFFDF7;
  line-height: 1.2;
}
.h3 span {
  font-family: "Iquost";
  font-feature-settings: "salt" 1;
}

.underline-wave {
  text-decoration: none;
  position: relative;
}
.underline-wave::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background: url("/res/pictos/wave.svg") repeat-x;
  background-size: 12.5px;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

header {
  height: 90px;
  position: absolute;
  inset: 0;
  z-index: 999;
}
header nav {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}
header nav a {
  height: min-content;
  margin: 0 2rem;
  color: white;
  letter-spacing: 0.5px;
  font-size: 1.15rem;
  transition: all 0.3s ease;
}
header nav a::after {
  transition: all 0.3s ease;
}
header nav a:hover {
  transform: translateY(-5px);
}
header nav a:hover::after {
  transform: translateY(5px);
  background-position: 30px 0;
}

footer p {
  color: #4E485F;
}

body {
  overflow-x: hidden;
  background-color: #FFFDF7;
}

.container {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

#top {
  height: 100vh;
  position: relative;
}
#top > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
#top > .container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: end;
}
#top > .container > div {
  width: 100%;
  height: 100%;
  position: relative;
}
#top > .container > div > img {
  width: 70%;
  position: absolute;
  top: -25%;
  right: -12.5%;
}
#top .filters {
  height: 100%;
  padding-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(150px);
}
#top .filters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/res/images/grain.png");
  background-size: 360px 202.5px;
}
#top .filters .container .main-title {
  width: 100%;
  padding: 0 3rem;
  line-height: 1.15;
}
#top .filters .container .main-title .star_1_svg {
  transform: scale(0.9);
}
#top .filters .container .main-title .top {
  width: max-content;
  margin-right: auto;
  margin-left: 0;
  position: relative;
  display: block;
}
#top .filters .container .main-title .top::after {
  content: "_";
  position: absolute;
  right: -7.5rem;
  transform: scaleX(150%);
}
#top .filters .container .main-title .bot {
  width: max-content;
  margin-right: 0;
  margin-left: auto;
  display: flex;
}
#top .filters .container .main-title .bot svg {
  margin-right: 6rem;
}
#top .filters .container > a {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
}
#top .filters .container > a > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
#top .filters .container > a > div .arrow_down_svg {
  transition: all 0.3s ease;
}
#top .filters .container > a > div::after {
  content: url("/res/pictos/star_borders.svg");
  width: 140px;
  height: 140px;
  position: absolute;
  top: 5px;
  left: 5px;
  animation: star_spin 30s linear infinite;
  transform-origin: center;
}
#top .filters .container > a:hover > div {
  transform: scale(1.25);
}
#top .filters .container > a:hover > div > .arrow_down_svg {
  transform: scale(0.8);
}

@keyframes star_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#competences .container {
  height: 100vh;
}
#competences .container .text {
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4E485F;
}
#competences .container .text .h2 {
  margin-bottom: 2rem;
  color: #4E485F;
}
#competences .container .illustration {
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#realisations .title-container {
  display: flex;
  justify-content: center;
}
#realisations .title-container .h2 {
  margin: 0 2.5rem;
  color: #4E485F;
}
#realisations .title-container .waves {
  display: flex;
  align-items: center;
}
#realisations .title-container .waves .wave_extended_svg {
  width: 100px;
}
#realisations .title-container .waves:nth-child(3) {
  transform: scaleX(-1);
}
#realisations .container {
  padding: 2rem;
  margin-bottom: 2.5rem;
}
#realisations .container._first {
  outline: 10px solid #4E485F;
  border-radius: 4rem;
}
#realisations .container._realisations {
  height: 70vh;
  display: flex;
  align-items: center;
}
#realisations .container._realisations .realisation {
  height: 100%;
  border-radius: 2rem;
}
#realisations .container._realisations .star_little_svg {
  width: 50px;
  margin: 0 1.5rem;
}
#realisations .container._realisations .description {
  height: 100%;
  position: relative;
  flex-grow: 1;
}
#realisations .container._realisations .description._innerwav {
  background-image: url("/res/images/bg_innerwav.svg");
  background-size: cover;
  border-radius: 2rem;
}
#realisations .container._realisations .description::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/res/images/grain.png");
  background-size: 360px 202.5px;
  backdrop-filter: blur(150px);
  border-radius: 2rem;
}
#realisations .container._realisations .description .content {
  width: 100%;
  height: 100%;
  padding: 4rem;
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#realisations .container._realisations .description .content .h3 {
  color: #FFFDF7;
  margin-bottom: 1rem;
}
#realisations .container._realisations .description .content p {
  color: #FFFDF7;
}

/*# sourceMappingURL=output.css.map */
