@import "header";
@import "footer";

// ------------------ MIXINS ------------------ //


// ------------------ OTHER ------------------ //

body {
    overflow-x: hidden;
    background-color: $primary;
}

.container {
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}