header {
    height: 90px;

    background: linear-gradient(95deg, $primary 0%, #64ceb4 85%);

    nav {
        &>a {
            &>span {
                color: white;
                font-size: 3rem;
            }
        }
    }

    .menu-container {

    }
}