.font-alt {
    font-feature-settings: 'salt' 1;
}

@mixin font-alt {
    font-feature-settings: 'salt' 1;
}

.main-title {
    font-size: 6rem;
    @media screen and (min-width: $lg) {
        font-size: 8rem;
    }
    @media screen and (min-width: $xl) {
        font-size: 10rem;
    }
    @media screen and (min-width: $xxl) {
        font-size: 12rem;
    }
    font-family: 'Iquost';
    margin-bottom: 1rem;
    color : $primary;

    &>span {
        font-family: 'Iquost';
    }
}

.h2 {
    font-size: 3.5rem;
    font-family: 'Iquost';
    color : $primary;
    line-height: 1.2;

    span {
        font-family: 'Iquost';
        @include font-alt;
    }
}

.h3 {
    font-size: 3.25rem;
    font-family: 'Iquost';
    color : $primary;
    line-height: 1.2;

    span {
        font-family: 'Iquost';
        @include font-alt;
    }
}
