#top {
    height: 100vh;
    position: relative;

    &>img {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
        object-fit: cover;
    }

    &>.container {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: end;

        &>div {
            width: 100%;
            height: 100%;
            position: relative;

            &>img {
                width: 70%;
                position: absolute;
                top: -25%;
                right: -12.5%;
            }
        }
    }

    .filters {
        height: 100%;
        padding-bottom: 6rem;
        @media screen and (min-width: $md) {
            padding-bottom: 3rem;
        }
        @media screen and (min-width: $xl) {
            padding-bottom: 5rem;
        }
        position : relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        backdrop-filter: blur(150px);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/res/images/grain.png');
            background-size: 360px 202.5px;
        }

        .container {

            .main-title {
                width: 100%;
                padding: 0 3rem;

                line-height: 1.25;
                @media screen and (min-width: $lg) {
                    line-height: 1.8;
                }
                @media screen and (min-width: $xl) {
                    line-height: 1.4;
                }
                @media screen and (min-width: $xxl) {
                    line-height: 1.15;
                }
            
                .top {
                    width: max-content;
                    margin-left: auto;
                    margin-right: auto;
                    @media screen and (min-width: $lg) {
                        margin-right: auto;
                        margin-left: 0;
                    }

                    position: relative;

                    display: block;

                    &::after {
                        content: '_';
                        position: absolute;
                        right: -3.5rem;
                        @media screen and (min-width: $lg) {
                            right: -4.5rem;
                        }
                        @media screen and (min-width: $xl) {
                            right: -6rem;
                        }
                        transform: scaleX(150%);
                    }
                }

                .bot {
                    width: max-content;
                    margin-left: auto;
                    margin-right: auto;
                    @media screen and (min-width: $lg) {
                        margin-right: 0;
                        margin-left: auto;
                    }

                    display : flex;

                    .star_svg {
                        display: none;
                        @media screen and (min-width: $lg) {
                            display: block;
                            margin-right: 1rem;
                            transform: scale(0.7);
                        }
                        @media screen and (min-width: $xl) {
                            margin-right: 4rem;
                            transform: scale(0.8);
                        }
                        @media screen and (min-width: $xxl) {
                            transform: scale(0.9);
                            margin-right: 6rem;
                        }
                    }
                }
            }

            &>a {
                width: 150px;
                height: 150px;

                position : absolute;
                bottom: 7vh;
                left: 50%;
                transform: translateX(-50%);

                &>div {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    position: relative;

                    transition: all 0.3s ease;

                    .star_borders_svg {
                        width: 75%;
                        height: 75%;
                        
                        animation: star_spin 30s linear infinite;
                        transition: all 2s cubic-bezier(0, 1, 0.3, 1.5);
                    }

                    .arrow_down_svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0.9);

                        transition: all 0.3s ease;
                    }
                }

                &:hover {
                    
                    &>div {
                        .star_borders_svg {
                            width: 120%;
                            height: 120%;
                        }

                        .arrow_down_svg {
                            // transform: translate(-50%, -50%) scale(1);
                        }
                    }
                }
            }
        }
    }
}

@keyframes star_spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#competences {

    .container {
        min-height: 100vh;
        padding: 5rem 0;
    
        .text {
            padding-right: 0rem;
            margin-bottom: 3rem;
            padding: 0 3rem;
            @media screen and (min-width: $md) {
                padding-right: 6rem;
                margin-bottom: 0rem;
                padding: 0;
            }
            @media screen and (min-width: $lg) {
                padding-right: 0rem;
                padding-left: 3rem;
            }

            display: flex;
            flex-direction: column;
            justify-content: center;

            color: $accent;

            .h2 {
                margin-bottom: 2rem;
                color: $accent;
            }
        }

        .illustration {
            padding: 0 1rem;
            @media screen and (min-width: $md) {
                padding: 0 0 0 3rem;
            }

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#realisations {
    padding-bottom: 4rem;

    .title-container {
        margin-bottom: 2.5rem;
        @media screen and (min-width: $xl) {
            margin-bottom: 0rem;
        }

        display: flex;
        justify-content: center;

        .h2 {
            margin: 0 2.5rem;
            color: $accent;
            text-align: center;
            @media screen and (min-width: $sm){
                text-align: left;
            }
        }

        .waves {
            display: none;
            @media screen and (min-width: $lg) {
                display: flex;
            }

            align-items: center;
            
            .wave_extended_svg {
                width: 100px;
            }
        }

        .waves:nth-child(3) {
            transform: scaleX(-1);
        }
    }

    .container {
        padding: 0 2rem;
        @media screen and (min-width: $xl) {
            padding: 2rem;

            &._borders {
                border: 10px solid $accent;
                border-radius: calc($r-xl + 2rem);
            }
        }

        &._realisations {
            display: flex;
            &:nth-of-type(2n) {
                flex-direction: column;
            }
            &:nth-of-type(2n + 1) {
                flex-direction: column-reverse;
            }
            align-items: center;

            @media screen and (min-width: $xl) {
                height: 50vh;
                flex-direction: row !important;
            }

            @media screen and (min-width: $xxl) {
                height: 65vh;
            }

            .separator {
                width: 100%;
                height: 50px;
                margin: 2rem 0;

                display: flex;
                @media screen and (min-width: $xl) {
                    display: none;
                }
                justify-content: center;
                align-items: center;
        
                .star_little_svg {
                    width: 50px;
                    margin: 0 1.5rem;
        
                    animation: star_spin 10s linear infinite;
                }
            }
            
            .realisation {
                width: 100%;
                margin-bottom: 2rem;
                @media screen and (min-width: $xl) {
                    width: auto;
                    height: 100%;
                    margin-bottom: 0rem;
                }
                border-radius: $r-xl;
                position: relative;

                @include shadow;

                .innerwav-img {
                    width: 100%;
                    @media screen and (min-width: $xl) {
                        width: auto;
                    }
                    height: 100%;
                    border-radius: $r-xl;
                    transition: all 0.3s ease;

                    &:hover {
                        opacity: 0;
                    }
                }

                .innerwav-video {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    
                    position: absolute;
                    inset: 0;
                    z-index: -1;

                    border-radius: $r-xl;
                }
            }

            &>.multiple-imgs {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                @media screen and (min-width: $sm){
                    flex-direction: row;
                    gap: 0rem;
                }
                align-items: center;

                .line {
                    width: 5px;
                    height: 60px;
                    margin: 0 1rem;

                    display: none;
                    @media screen and (min-width: $sm){
                        display: block;
                    }

                    background-color: $accent;
                    border-radius: $r-full;
                }
                
                &>img {
                    width: 100%;
                    height: auto;
                    @media screen and (min-width: $sm) {
                        width: auto;
                        max-width: calc((100% - 10px - 4rem) / 3);
                        height: 100%;
                    }
                    @media screen and (min-width: $xl) {
                        width: auto;
                        max-width: none;
                        height: 100%;
                    }
                    border-radius: $r-md;

                    @include shadow;
                }

                &._borders {
                    border: 10px solid $accent;
                    padding: 1rem;
    
                    @include shadow;
                }
            }

            &>.star-container {

                &>.star_little_svg {
                    width: 50px;
                    height: 50px;
                    margin: 0 1.5rem;

                    display: none;
                    @media screen and (min-width: $xl) {
                        display: block;
                    }

                    animation: star_spin 10s linear infinite;
                }
            }

            .description {
                width: 100%;
                position: relative;
                @media screen and (min-width: $sm) {
                    height: 50vh;
                }
                
                @media screen and (min-width: $xl) {
                    width: auto;
                    height: 100%;
                    flex-grow: 1;
                }

                @include shadow;

                &._innerwav {
                    background-image: url('/res/images/bg_innerwav.svg');
                    background-size: cover;
                    border-radius: $r-xl;
                }

                &._la-renaissance {
                    background-image: url('/res/images/bg_la_renaissance.svg');
                    background-size: cover;
                    border-radius: $r-xl;
                }

                &._initial-expertise {
                    background-image: url('/res/images/bg_initial_expertise.svg');
                    background-size: cover;
                    border-radius: $r-xl;
                }

                &._zetruc {
                    background-image: url('/res/images/bg_zetruc.svg');
                    background-size: cover;
                    border-radius: $r-xl;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    top: 0;
                    left: 0;

                    background-image: url('/res/images/grain.png');
                    background-size: calc(360px / 2) calc(202.5px / 2);
                    backdrop-filter: blur(75px);
                    border-radius: $r-xl;
                }

                .content {
                    width: 100%;
                    height: 100%;
                    padding: 3rem 1rem;
                    @media screen and (min-width: $xs) {
                        padding: 4rem 2rem;
                    }
                    @media screen and (min-width: $sm) {
                        padding: 4rem;
                    }

                    position: relative;
                    z-index: 20;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .h3 {
                        color: $primary;
                        margin-bottom: 1rem;
                        text-align: center;

                        @include text-shadow;
                    }

                    p {
                        color: $primary;

                        @include text-shadow;
                    }
                }
            }
        }
    }
}

#qui-suis-je {
    height: 100vh;

    .content {
        padding-right: 0rem;
        @media screen and (min-width: $lg) {
            padding-right: 4rem;
        }

        .h2 {
            width: 100%;
            margin-bottom: 2rem;

            display: inline-block;
            color: $accent;
            text-align: center;

            @media screen and (min-width: $sm) {
                display: flex;
                align-items: center;
            }

            &>.wave_little_svg {
                width: 70px;
                margin-right: 1rem;
                display: none;
                @media screen and (min-width: $sm) {
                    display: block;
                }
            }
        }

        p {
            color: $accent;
            padding: 2rem 0.5rem;
        }
    }

    .image {
        min-height: 75%;
        height: 75%;
        padding-right: 0rem;
        @media screen and (min-width: $xl) {
            padding-right: 4rem;
        }
        position: relative;

        .star_svg {
            position: absolute;
            top: -7rem;
            right: -7rem;

            transform: scale(0.3);
            @media screen and (min-width: $sm) {
                transform: scale(0.5);
                top: -7rem;
                right: -6rem;
            }
            @media screen and (min-width: $xl) {
                transform: scale(0.6);
                top: -7rem;
                right: -3rem;
            }

            path {
                fill: $accent;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            border: darken($primary, 2.5%) solid;
            border-width: 7.5px;
            @media screen and (min-width: $sm) {
                border-width: 10px;
            }
            @media screen and (min-width: $lg) {
                border-width: 15px;
            }
            border-radius: $r-xxl;
        }
    }
}